<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src={{userImage}} alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{user.name}}</h5>
						<p>{{'Profile.Email'| translate}} : {{user.email}}</p>
						<a routerLink="editProfile" class="btn btn-primary" (click)="testroute()">{{'Profile.EditProfile'| translate}}</a>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<h5 class="text-center">{{InfoTitle}}</h5>
							<li>{{'Profile.UserName'| translate}} : {{user.name}}</li>
							<!-- <li>Gender: {{uGender}}</li> -->
						</ul>
					</div>
				</div>
			</div>
			<div *ngIf="orders === undefined" class="alert alert-info col-md-10 offset-md-1 col-lg-8 offset-lg-0" id="checkEmpty">{{'Profile.You dont have any orders yet'| translate}}</div>
			<div *ngIf="orders!==undefined " class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
			<div  *ngFor="let O of orders">
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
					<h3 class="widget-header">{{O.orderStatus}}</h3>
					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>{{'ProfileOrders.Image'| translate}}</th>
								<th>{{'ProfileOrders.Product Details'| translate}}</th>
								<th class="text-center">{{'ProfileOrders.Price'| translate}}</th>

							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let prd of O.cart.products">
								<td class="product-thumb">
									<img width="80px" height="auto" src={{prd.imagePath}} alt="image description"></td>
								<td class="product-details">
									<h3 class="title"><strong>{{'ProfileOrders.Title'| translate}}:</strong> {{prd.title}}</h3>
									<h3 class="title"><strong>{{'ProfileOrders.Desc'| translate}}:</strong> {{prd.description}}</h3>
								</td>
								<td class="product-category">{{prd.price}}</td>

							</tr>

							<tr>
								<td></td>
								<td>
									<!-- <div>Order ID : {{O._id}}</div> -->
									<div>{{'ProfileOrders.Total Price'| translate}} : {{O.cart.cartprice}}</div>
								</td>
								
								<td class="action" data-title="Action" *ngIf="O.orderStatus==='pending'">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a class="delete" href="" (click)="cancelOrder(O._id)">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</td>

							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>


		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
