
.widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 1em;
  }
  #checkEmpty{
    text-align: center;
  }

  .section {
    padding: 100px 0;
  }
  
.user-dashboard-menu li {
    margin-bottom: 5px;
  }
  
  .user-dashboard-menu li.active a {
    background: #5672f9;
    color: #fff;
  }
  
  .user-dashboard-menu li.active a:hover {
    color: #fff;
  }
  
  .user-dashboard-menu li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    font-weight: 600;
    color: #555;
  }
  
  .user-dashboard-menu li a:hover {
    color: #5672f9;
  }
  
  .user-dashboard-menu li a:hover span {
    background: #5672f9;
    color: #fff;
  }
  
  .user-dashboard-menu li a i {
    margin-right: 5px;
  }
  
  .user-dashboard-menu li a span {
    float: right;
    background: #F4F7F9;
    float: right;
    font-size: 10px;
    border-radius: 8px;
    padding: 3px 8px;
    color: #84919B;
  }
  
  .user-dashboard-profile {
    text-align: center;
  }
  
  .user-dashboard-profile .profile-thumb img {
    width: 130px;
    height: auto;
    border: 5px solid #F4F7F9;
  }
  
  .user-dashboard-profile h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .user-dashboard-profile .member-time {
    color: #888;
    font-size: 12px;
    margin-bottom: 3px;
  }
  
  .user-dashboard-profile .btn-contact {
    background: #1FCA6B;
  }
  
  .user-dashboard-profile .btn-offer {
    background: #373C4D;
  }
  
  .dashboard-container .product-dashboard-table thead th {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .4px;
  }
  
  .dashboard-container .product-dashboard-table td {
    vertical-align: middle;
    padding: 40px 0;
  }
  
  .dashboard-container .product-dashboard-table .product-thumb {
    width: 15%;
  }
  
  .dashboard-container .product-dashboard-table .product-details {
    width: 45%;
  }
  
  .dashboard-container .product-dashboard-table .product-details span {
    display: block;
    font-size: 14px;
    color: #848484;
  }
  
  .dashboard-container .product-dashboard-table .product-details span strong {
    color: #666;
    width: 30%;
    display: inline-block;
  }
  
  .dashboard-container .product-dashboard-table .product-details .title {
    font-size: 16px;
  }
  
  .dashboard-container .product-dashboard-table .product-details .status.active {
    color: #59d659;
  }
  
  .dashboard-container .product-dashboard-table .product-category {
    width: 15%;
    text-align: center;
  }
  
  .dashboard-container .product-dashboard-table .action {
    width: 20%;
    text-align: center;
  }
  
  .dashboard-container .product-dashboard-table .action a {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
  }
  
  .dashboard-container .product-dashboard-table .action a i {
    line-height: 30px;
  }
  
  .dashboard-container .product-dashboard-table .action .list-inline .list-inline-item:not(:last-child) {
    margin-right: 0px;
  }
  
  .dashboard-container .product-dashboard-table .action .edit {
    background: #59d659;
  }
  
  .dashboard-container .product-dashboard-table .action .view {
    background: #50c6e9;
  }
  
  .dashboard-container .product-dashboard-table .action .delete {
    background: #E50F42;
  }