
 
                      <!-- <tr> -->
                          <!-- <td class="col-sm-8 col-md-6">
                          <div class="media">
                              <a class="thumbnail pull-left" href="#"> <img class="media-object" src= {{cartItem.imagePath}} style="width: 72px; height: 72px;"> </a>
                              <div class="media-body">
                                  <h4 class="media-heading"><a href="#">{{ cartItem.title }}</a></h4>
                              </div>
                          </div></td> -->
                          <!-- <td class="col-sm-1 col-md-1" style="text-align: center">
                          <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                          </td> -->
                          <!-- <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartItem.quantity }}</strong></td>
                          <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartItem.price }}</strong></td>
                          <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartItem.totalprice }}</strong></td>
                          <td class="col-sm-1 col-md-1">
                          <button type="button" class="btn btn-danger">
                              <span class="glyphicon glyphicon-remove"></span> Remove
                          </button></td> -->
                          <!-- </tr> -->

              
                          <td class="col-lg-4">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src= {{cartItem.imagePath}} style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ cartItem.title }}</a></h4>
                                </div>
                            </div>
                        </td>
                            <!-- <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                            </td> -->
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.quantity }}</strong></td>
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.price }}</strong></td>
                            <td class="col-lg-2 col-sm-1 col-md-1 "><strong>{{ cartItem.totalprice }}</strong></td>
                            <td class="col-lg-2 col-sm-1 col-md-1 " >
                            <!-- <button type="button" class="btn btn-info" >
                                <span class="glyphicon glyphicon-remove"></span> Remove
                            </button> -->
                            <!-- <a class="delete" href="">
                                <i class="fa fa-trash"></i>
                            </a> -->
                            </td>
