.media-heading{
    color: #457b9d;
}
.btn{
    border-radius: 2rem;
}
.delete {
    background: #E50F42;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    display: inline-block;
  }
  a{
    color: #457b9d;
   text-align: 5rem;
  }