<p>admin-products works!</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <!-- <app-admin-product-item *ngFor="let p of products" [productItem] = "p"></app-admin-product-item> -->

  <tbody>
    <tr *ngFor="let p of products">
      <td>{{ p.title }}</td>
      <td>{{ p.description }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.quantity }}</td>
      <td><a [routerLink]="p._id"> Edit</a></td>
    </tr>
  </tbody>
</table>
