<div class="container mt-5">
    <div class="row mb-5">
      <div class="col-md-5 ml-auto mb-5 order-md-2">
        <img
          src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
          alt="Image"
          class="img-fluid rounded"
        />
      </div>
      <div class="col-md-6 order-md-1">
        <div class="row">
          <div class="col-12">
            <div class="text-left pb-1">
              <h2 class="text-black h1 site-section-heading">About Us</h2>
            </div>
          </div>
          <div class="col-12 mb-4">
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
              incidunt magnam corrupti, odit eos harum quaerat nostrum
              voluptatibus aspernatur eligendi accusantium cum, impedit blanditiis
              voluptate commodi doloribus, nemo dignissimos recusandae.
            </p>
          </div>
          <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
            <div class="unit-4">
              <div>
                <h3>Web &amp; Mobile Specialties</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perferendis quis consect.
                </p>
                <p class="mb-0"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-md-5 mb-0 col-lg-6">
            <div class="unit-4">
              <div>
                <h3>Intuitive Thinkers</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Perferendis quis.
                </p>
                <p class="mb-0"><a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center">
        <h2 class="text-black h1 site-section-heading">Our Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="text-center">
          <img
            src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p206x206/62354568_10219366675984705_2385042970656112640_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=2dKvZpF3EBEAX-3Zo4X&_nc_ht=scontent-cdg2-1.xx&_nc_tp=6&oh=8aea1f50187862dcf940286c0511a15e&oe=5EBC3B17"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
          />
          <h3>John Rooster</h3>
          <p class="position text-muted">Co-Founder, President</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="text-center">
          <img
            src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p206x206/62354568_10219366675984705_2385042970656112640_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=2dKvZpF3EBEAX-3Zo4X&_nc_ht=scontent-cdg2-1.xx&_nc_tp=6&oh=8aea1f50187862dcf940286c0511a15e&oe=5EBC3B17"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
          />
          <h3>Tom Sharp</h3>
          <p class="position text-muted">Co-Founder, COO</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
        <div class="person text-center">
          <img
            src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-0/p206x206/62354568_10219366675984705_2385042970656112640_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=2dKvZpF3EBEAX-3Zo4X&_nc_ht=scontent-cdg2-1.xx&_nc_tp=6&oh=8aea1f50187862dcf940286c0511a15e&oe=5EBC3B17"
            alt="Image"
            class="img-fluid rounded-circle w-50 mb-5"
          />
          <h3>Winston Hodson</h3>
          <p class="position text-muted">Marketing</p>
          <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at
            consequatur unde molestiae quidem provident voluptatum deleniti quo
            iste error eos est praesentium distinctio cupiditate tempore suscipit
            inventore deserunt tenetur.
          </p>
          <ul class="ul-social-circle">
            <li>
  
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-linkedin"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>