.ul-social-circle {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ul-social-circle li {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
  }
  .ul-social-circle li:first-child {
    margin-left: 0;
  }
  .ul-social-circle li span {
    width: 30px;
    height: 30px;
    background: #777;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
  }
  .ul-social-circle li a span {
    color: #fff;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  .ul-social-circle li a:hover span {
    background: #2b2b2b;
    color: #fff;
  }
  