.user-profile, .dashboard {
    padding-top: 50px;
  }
  .user-dashboard-profile {
    text-align: center;
  }
  .widget {
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 30px 30px;
    margin-bottom: 30px;
    border-radius: 1em;
  }
  .btn-transparent {
    background: transparent;
    color: #0F4C75;
    border: 1px solid #0F4C75;
  }
  
  .btn-transparent:hover {
    background: #0F4C75;
    color: #fff;
  }