
 <nav class="navbar navbar-expand-lg navbar-dark sticky">
  <img id="navLogo" src="assets/images/MAH.jpg">
  <h3 id="hLogo"class="font-weight-bold" href="#">Commerce</h3>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="home" class="nav-link"><strong>{{'Nav.Home'| translate}}</strong><span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a routerLink="about" class="nav-link"><strong>{{'Nav.About'| translate}}</strong></a>
      </li>

      <li class="nav-item">
        <!-- <app-login [ngStyle] = "{cursor: 'pointer'}"></app-login> -->
        <!-- <a routerLink="login" class="nav-link">login</a> -->
        <app-login *ngIf= "!IsName"></app-login>
      </li>




      <li class="nav-item"  *ngIf= "!IsName">
        <a routerLink="register" class="nav-link"><strong>{{'Nav.Register'| translate}}</strong></a>
      </li>
      <li class="nav-item" *ngIf= "IsAdmin">
      <!-- <li class="nav-item" >  -->
        <a  routerLink="adminCreateProducts"  class="nav-link"><strong>{{'Nav.Create Product'| translate}}</strong></a>
      </li>
      <li class="nav-item" *ngIf= "IsAdmin">
        <a class="nav-link"><strong>Update Admin</strong></a>
      </li>

      <li class="nav-item" *ngIf= "IsAdmin">
        <a routerLink="adminProducts" class="nav-link" ><strong>{{'Nav.Admin Products'| translate}}</strong></a>
      </li>

      <li class="nav-item" *ngIf= "IsAdmin" >
        <a class="nav-link" routerLink='adminOrders'><strong>{{'Nav.All Orders'| translate}}</strong></a>
      </li>
     
      
        <li class="nav-item" >
          <a routerLink="products" class="nav-link" > {{'Nav.Products'| translate}}</a>
        </li>


        <li class="nav-item">
          <img routerLink="profile" class="nav-link" *ngIf="IsName" src={{userImage}} style="width: 50px; height: 50px;"/>
          <!-- <a routerLink="profile" class="nav-link" *ngIf="IsName"> <strong>Welcome {{ name }}</strong></a> -->

        </li>


        <li>
          <app-logout *ngIf="IsName"></app-logout>
        </li>

        <li class="nav-item"  *ngIf= "isNormalUser">
           <span class="badge badge-daner">{{numberofproducts}}</span>
              <i routerLink="cart" class="fa fa-shopping-cart"></i>
              <!-- <a routerLink="cart" class="nav-link">Cart</a>  -->
        </li>
        <li class="nav-item" id="langLi">
          <select #langSelect (change)="translate.use(langSelect.value)" class="nav-link">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang"> {{lang}}</option>
          </select>
      </li>


      <!-- <app-mini-cart></app-mini-cart> -->
      </ul>


  </div>
</nav>

<router-outlet style="height: 100%;"></router-outlet>
 <app-footer></app-footer>