nav{
    background-color:white;
    box-shadow:3px 3px 5px 6px #ccc;
    color: #E50F42;
    padding: 15px 55px;
    position: sticky;
    
    /* height: 50px; */
}

#navLogo{
  width: 50px;
  height: 50px;
}
#hLogo{
  margin-bottom: 1px;
  padding-bottom: 0em;
}
li:hover{
  background-color: #f1faee;
  border-radius: 2em;
}
li:active{
  background-color: #a8dadc;
}
select:hover{
  background-color: #f1faee;
  border-radius: 2em;
}
select:active{
  background-color: #a8dadc;
}
option:hover{
  background-color: #a8dadc;
}
.navbar-dark .navbar-nav .nav-link
{
  color:#E50F42;
}
#langLi{
  margin-left: 5em;
  text-align: right;
}
select{
  border-radius: 2em;
  border-color:#E50F42 ;
}
.navbar-toggler{
  background-color: #f1faee;
  border-color: #E50F42 ;
}
  .sticky {
    top: 0;
    width: 100%;
     z-index: 1; 
  }  

 