<div class="row" id="prdContent">
    <div class="col-lg-4 offset-1">
        <img src={{product.imagePath}} class="img-fluid">
    </div>
    <div class="col-lg-6">
        <div>
            <h3>{{product.title}}</h3>
        </div>

        <div>
            <span><strong>{{'Details.Description'| translate}}: </strong>
                <p>{{product.description}}</p>
            </span>
        </div>
        <div>
            <span><strong>{{'Details.Price'| translate}}: </strong>
                <h5>{{product.price}}</h5> L.E
            </span>
        </div>
        <div>
            <span><strong>{{'Details.Sale'| translate}}: </strong>
                <p>{{product.promotionprecentage}}%</p>
            </span>
        </div>
        <div style="text-align: center; margin-top: 5rem; padding-left: 10px;">
            <button class="btn CustomBtn" style="border-radius: 2rem;" (click)="prdRoute()"> <i class="fa fa-shopping-cart"> Back to shopping</i></button>
            <button class="btn CustomBtn" style="border-radius: 4rem;" (click)="addToCart()"> <i class="fa fa-shopping-cart"> Add To Cart</i></button>

        </div>
    </div>
</div>

<h4 >{{'Details.Why you should buy from us'| translate}}</h4>
<div id="features">
    <app-features></app-features>
</div>