<!-- <p>cart works!</p> -->
<!-- <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>

<ul *ngIf="cartItems.length > 0" class="list-group">
  <li class="list-group-item" *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </li>

  <li class="list-group-item active">
    <strong>Total</strong> {{ cartTotal | currency:'INR' }}
  </li>
</ul> -->

<div class="container widget moreMargin" >
  <div class="row" >
      <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-offset-2">
       
        <ng-template [ngIf]="cartItems===undefined" [ngIfElse]="DisplayItems">
          <div>
            Your Cart is Empty.
          </div>
        </ng-template>

        <!-- <div *ngIf="cartItems  === undefined" class="alert alert-info" [ngIfElse]="DisplayItems">Your Cart is Empty.</div> -->
        <ng-template #DisplayItems>
         <!-- <table *ngIf="cartItems.length > 0" class="table table-hover"> -->
          <table  class="table table-hover">

              <thead >
                  <tr class="row">
                      <th class="col-lg-4 col-md-4"><h5>{{'Cart.Product'| translate}}</h5></th>
                      <th class="col-lg-2 col-md-2"><h5>{{'Cart.Quantity'| translate}}</h5></th>
                      <th class="col-lg-2 col-md-2"><h4>{{'Cart.Price'| translate}}</h4> </th>
                      <th class="col-lg-2 col-md-2"><h4>{{'Cart.Total'| translate}}</h4></th>
                     <th class="col-lg-2 col-md-2"><h4>{{'Cart.Actions'| translate}}</h4></th>
                  </tr>
              </thead>

              <tbody>
                 <!-- <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>

                 <ul *ngIf="cartItems.length > 0" class="list-group"> -->
                    <tr *ngFor="let item of cartItems" >
                      <app-cart-item [cartItem]="item" class="row"></app-cart-item>
                    </tr>

                    <tr class="row">
                      <td style="column-span: 2; padding: 2rem;" class="col-lg-4 offset-2"> <strong>{{'Cart.Total'| translate}}</strong> {{ cartTotal | currency:'EG' }}</td>
                      <td style="column-span: 2;" class="col-xs-4 col-xs-offset-9"> <a  class="btn CustomBtn mt-3 cart" (click)="handleAddOrder()"><i class="fa fa-shopping-cart cart"></i> {{'Cart.CheckOut'| translate}}</a> </td>
                    </tr>

                 <!-- <li class="list-group-item" *ngFor="let item of cartItems">
                    <app-cart-item [cartItem]="item"></app-cart-item>
                 </li>
                  <li class="list-group-item active">
                  <strong>Total</strong> {{ cartTotal | currency:'EG' }}
                 </li> -->
                <!-- </ul>    -->
              </tbody>

              </table>
            </ng-template>

            </div>
         </div>
       </div>


