<form class="mt-5 ml-5">
  <div class="form-group">
    <label for="productTitle">Product Title</label>
    <input
      type="text"
      class="form-control col-4"
      id="productTitle"
      [(ngModel)]="product.title"
      name="title"
    />
  </div>
  <div class="form-group">
    <label for="productDescription">Product Description</label>
    <input
      type="text"
      class="form-control col-4"
      id="productDescription"
      name="description"
      [(ngModel)]="product.description"
    />
  </div>

  <div class="form-group">
    <label for="productPrice">Product Price</label>
    <input
      type="number"
      class="form-control col-4"
      name="price"
      id="productPrice"
      [(ngModel)]="product.price"
    />
  </div>

  <div class="form-group">
    <label for="produdctPrice">Product Price</label>
    <input
      type="number"
      class="form-control col-4"
      name="quantity"
      id="produdctPrice"
      [(ngModel)]="product.quantity"
    />
  </div>
  <div class="form-group">
    <label for="produdctImage">Product Image</label>
    <img [src]="product.imagePath" style="width: 50px; height: 50px;" />
    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <button class="btn btn-success" (click) = "saveChanges()">Save Changes</button>


</form>
