<p>admin-product-item works!</p>



    <tr>
      <td>{{ productItem.title }}</td>
      <td>{{ productItem.description }}</td>
      <td>{{ productItem.price }}</td>
      <td>{{ productItem.quantity }}</td>
      <td><a [routerLink]="productItem._id"> Edit</a></td>
    </tr>
