<p>register works!</p>

<!-- #region  -->
<div class="containr">
  <div class="row">
    <img [src]="img" class="col col-6 round img" />
    <!-- [(ngModel)]="userName" -->

    <form [formGroup]="myFrom" class="col-4 form-group align-self-center m-2" (ngSubmit)="signUp()">
      <h3 class="offset-4 col col-1">WELCOME</h3>
      <!-- #region name -->
      <!-- #name="ngModel" -->
      <div class="form-group">
        <input
          placeholder="enter your User Name"
          name="userName"
          required
          minlength="7"
          formControlName="name"
          class="col col-12 mb-2 form-control round margin"
        />
      </div>

      <div class="alert alert-danger" *ngIf= '!nameStatus'>
        name shold be at least 8 letters
    </div>


      <!-- <div *ngIf="name.invalid" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          name is required
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 7 characters long.
        </div>
      </div> -->

      <!-- #endregion -->

      <!-- #region email -->
     
     
      <!-- #emaill="ngModel" -->

      <!-- [(ngModel)]="email" -->

      <input
        placeholder="enter your email"
        name="email"
        formControlName="email"
        minlength="10"
        class="col col-12 mb-2 form-control round margin"
      />

      <div *ngIf="flag" class="alert alert-danger">
        this email is already registered.
      </div>
      <div *ngIf="notValidFlag" class="alert alert-danger">
        sorry not a valid email
      </div>
      <!-- <div *ngIf="emaill.invalid" class="alert alert-danger">
        <div *ngIf="emaill.errors.required">
          email is required
        </div>
        <div *ngIf="emaill.errors.minlength">
          email must be at least 10 characters long.
        </div>
      </div> -->
      <!-- #endregion -->

      <!-- #region Password -->
      <!-- [(ngModel)]="password" -->

      <!-- #pass="ngModel" -->
      <input
        type="password"
        placeholder="enter your Password"
        name="password"
        minlength="5"
        formControlName="password"
        class="col col-12 mb-2 form-control round margin"
      />
      <div *ngIf="notValidPassFlag" class="alert alert-danger">
        not valid pass
      </div>
      <!-- <div *ngIf="pass.invalid" class="alert alert-danger">
        <div *ngIf="pass.errors.minlength">
          Password must be at least 5 characters long.
        </div>
      </div> -->
      <!-- #endregion -->

      <input
        type="password"
        [(ngModel)]="confirmPassword"
        placeholder="confirm your Password"
        name="password"
        class="col col-12 mb-2 form-control round margin"
      />
   


      <div class="form-check form-check-inline">
        <input
        class="form-check-input"
        [(ngModel)]="selection"
          type="radio"
          name="gender"
          id="male"
          value="Male"
        />
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input
        class="form-check-input"
        [(ngModel)]="selection"
          type="radio"
          name="gender"
          id="female"
          value="Female"
        />
        <label class="form-check-label" for="female">Female</label>
      </div>

      <div>radio group ngModel: {{ selection }}</div>
      <div>
        <input type="file" (change)="onFileSelected($event)" />
      </div>
      <!-- <button 
      type="submit"
        class="btn col col-4 offset-4 btn-dark form-control round margin"
        (click)="signUp()"
      >
        Sign Up
      </button> -->
      <button type="submit">submit</button>
      <br />
    </form>
  </div>
</div>
