
    <div class="page-wrapper  p-t-100 p-b-50" style="background-image: url('https://image.freepik.com/free-photo/elevated-view-cosmetic-products-white-backdrop_23-2147899496.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="wrapper wrapper--w900" style="width:40%; background-color: aquamarine;" >
            
            <!-- <div class="card m-3">
                <h5 class="card-header">Angular 8 Reactive Form Validation</h5>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  
                        <div class="form-group">
                            <label>title</label>
                            <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">title is required</div>
                                <div *ngIf="f.title.errors.minlength">title must be at least 7 characters</div>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label>description</label>
                            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">description is required</div>
                                <div *ngIf="f.description.errors.minlength">title must be at least 7 characters</div>

                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col">
                                <label>price</label>
                                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                    <div *ngIf="f.price.errors.required">prce is required</div>
                                </div>
                            </div>
                          
                        </div>
                   
                        <div class="text-center">
                            <button class="btn btn-primary mr-1">Register</button>
                            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div> 
              -->
            
            
            
            
            
              <div class="card card-6" style="background-color: bisque;">
                <div class="card-heading">
                    <h2 class="title">{{'CreatePrd.Add Product'|translate}}</h2>
                </div>
                <div class="card-body" style="background-color:#bab8aa;">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  
                        

                        <div class="form-group col form-row">
                            <div class="name">{{'CreatePrd.Product title'|translate}}</div>
                          <div class="value">
                              <div class="input-group">
                                  <input class="input--style-6" type="text" placeholder="Product Title" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                      <div *ngIf="f.title.errors.required">{{'ValidateCraeteProduct.Title is required'|translate}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                       
                        <div class="form-group col form-row">
                              <div class="name">{{'CreatePrd.Price'|translate}}</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="number" placeholder="Price Per Unit/EG" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required">{{'ValidateCraeteProduct.Price is required'|translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col form-row">
                              <div class="name">{{'CreatePrd.Description'|translate}}</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6"  placeholder="Description for the product" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">{{'ValidateCraeteProduct.Description is required'|translate}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col form-row">
                            <div class="name">{{'CreatePrd.Product Image'|translate}}</div>
                          <div class="value">
                              <div class="input-group">
                                    <input type="file" (change) = "onFileSelected($event)" formControlName="imagePath" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagePath.errors }">
                                   <div *ngIf="submitted && f.imagePath.errors" class="invalid-feedback">
                                      <div *ngIf="f.imagePath.errors.required">{{'ValidateCraeteProduct.Product Image is required'|translate}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                 
                        <div class="text-center">
                            <button class="btn btn-primary mr-1">{{'CreatePrd.Add Product'|translate}}</button>
                            <button class="btn btn-secondary" type="reset" (click)="onReset()">{{'CreatePrd.Cancel'|translate}}</button>
                        </div>
                    </form>
                </div>
            </div> 
            </div>
            </div>
            
            
            
            
            
            
            
            
            
            
           <!-- 
            
             <div class="card card-6" style="background-color: bisque;">
                <div class="card-heading">
                    <h2 class="title">Add Product</h2>
                </div>
                <div class="card-body" style="background-color: coral;">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                       
                   
                       
                         <div class="form-row">
                            <div>Product Title</div>
                            <div class="value">
                                <input class="input--style-6" type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                    <p>Hi man</p>
                                    <div *ngIf="f.title.errors.required">Title is required</div>
                                </div>
                            </div> 
                            
                        </div> 


                   
                        <div class="form-row">
                            <div class="name">Price</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-6" type="text" placeholder="EG" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                                    <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                        <div *ngIf="f.price.errors.required">Price is required</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-row">
                            <div class="name">Description</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea class="textarea--style-6"  placeholder="Description for the product" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                        <div *ngIf="f.description.errors.required">Description is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Upload Product Image</div>
                            <div class="value">
                                <div class="input-group js-input-file">
                                    <input type="file" (change) = "onFileSelected($event)">
                                </div>
                                <div class="label--desc">Upload product image Max file size 50 MB</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer" style="background-color: darkcyan;">
                    <button class="btn  btn-secondary mr-1">Register</button>
                     <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                    <button class="btn btn--radius-2 btn--blue-2" type="submit">Add Product</button>  
                </div>
            </div>
        </div>  
-->