<footer class="row alert-dark" style="margin-right: 0;">
    <div class="col-lg-4 col-md-12" style="text-align: center;">
        <span>{{'footer.You Can check our'| translate}}  <i class="fab fa-angular"></i> {{'footer.progress from here'| translate}} </span>
        <a class="footerbtn btn round CustomBtn" href="https://bitbucket.org/MathewSamir/ecommerceangularver1/src/master/">{{'footer.Click Me'| translate}}</a> 
    </div>
    <div class="col-lg-4 col-md-12" style="text-align: center;">
        <h4>{{'footer.To :Eng Mohamed Nasser'| translate}}</h4>
        <p>{{'footer.We want to thank you for such a great project which we have learned from it a lot'| translate}} </p>
        <p>{{'footer.Made by: Hadeer Mathew Ayad'| translate}}<i class="far fa-heart"></i></p>
    </div>
    <div class="col-lg-4 col-md-12 " style="text-align: center;">
        <span>{{'footer.You Can check our'| translate}} <i class="fab fa-node"></i> {{'footer.progress from here'| translate}}</span>
        <a href="https://bitbucket.org/AhmedAyad/ecommerce-api/src/master/"class="footerbtn btn round CustomBtn">{{'footer.Click Me'| translate}}</a>        
    </div>

</footer>
