

 
     <div class="card" style="border: 1px solid;">
      <div class="product-grid6" style="height: 350px;">
        <div class="product-image6">
            <a href="#">
                <img style="height: 240px; margin: auto;" class="pic-1" src={{productItem.imagePath}}>
            </a>
        </div>
        <div class="product-content" style="background-color:honeydew;">
            <h3 class="title">{{ productItem.title }}</h3>
            <!-- <p class="card-text">
              {{ productItem.description |slice:0:25 }}
            </p>  -->
            
            <div class="price">{{ productItem.price }} EG
                <!-- <span>$14.00</span> -->
            </div>
        </div>
        <ul class="social">
            <!-- <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li> -->
            <!-- <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li> -->
            <li><a (click)="handleAddToCart()" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a (click)="routeDetails(productItem._id)" data-tip="Show Details"><i class="fa fa-eye"></i></a></li>
        </ul>
    </div>
      
      
      
      <!-- <img class="card-img" src = {{productItem.imagePath}} alt="Vans" height="150px"  />

      <div class="card-body">
        <h4 class="card-title">{{ productItem.title }}</h4>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">
          {{ productItem.description |slice:0:25 }}
        </p> 

        <div class="buy d-flex justify-content-between align-items-center">
          <div class="price text-success">
            <h5 class="mt-4">{{ productItem.price }}EG</h5>
          </div>
          <a id="addCart" class="btn btn-danger mt-3" (click)="handleAddToCart()"
            ><i class="fas fa-shopping-cart " ></i> Add to Cart</a
          >
        </div>
      </div> -->
    </div>
