#SearchBar{
    border-radius: 1em;
    border-color: #a8dadc;
    width: 75%;
    margin-top: 15px;
    text-align: center;
    
}
#SearchBar:focus{
     height: 65px;
     border-color: #5672f9;
 
}