<!-- #region try to render product item component  -->

<!-- <app-product-item *ngFor = "let product of products" [productInfo]="product"> </app-product-item> -->

<!-- #endregion -->

<!-- #region Render Product from Proudcts List -->
<div class="form-group" class="offset-2">
  <input type="text" class="form-control" placeholder="{{'SearchBar.Search Here'|translate}}"  [(ngModel)]="term" id="SearchBar">
</div>
<button class="btn btn-danger" (click)="routeCreate()">Add Product</button>
 <div class="container mt-5"> 
  <div class="row">
    <div class="col-lg-3 mb-5" *ngFor="let product of products$ | filter:term">
       
      <app-product-item [productItem] = "product"></app-product-item>

    </div>

    
     </div> 
      
      
      <!-- <div class="card">
        <img class="card-img" src = {{product.imagePath}} alt="Vans" height="150px" />

        <div class="card-body">
          <h4 class="card-title">{{ product.title }}</h4>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">
            {{ product.description }}
          </p>

          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success">
              <h5 class="mt-4">{{ product.price }}</h5>
            </div>
            <a href="#" class="btn btn-danger mt-3"
              ><i class="fas fa-shopping-cart"></i> Add to Cart</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  -->

<!-- #endregion

 #region About Page -->



